[class*="col-"]{
    color: white;
    border: 1px solid white;
    background-color: rgb(46, 106, 241);
 }

 .rectangle{
     background-color: rgb(46, 106, 241);
     height: 50px;
 }
 .nasted{
     background-color: rgb(54, 255, 47);
 }
 section{
     margin-bottom: 15px;
 }