.bordo{
    border: 1px solid red;
}
h1{
    margin: 5px;
}
img{
    width: 100%;
}

body{
    background-color: rgb(0, 0, 0);
}
/*  header  */


header{
    background-color: black;
    color: white;
}
 .rectangle{
     background-color: rgb(43, 44, 46);
     height: 50px;
 }
 .live{
     background-color: green;
 }
 section{
     margin-bottom: 15px;
 }
 .logo img{
    filter: invert(1);
 }
 .player, .lives{
     margin-top: 15px;
 }


 /* MAIN */
 main{
     margin-top: 20px;
 }

 .enemy img{
    filter: invert(1);
 }
 .spaceship-home{
     margin-top: 150px;
 }
 .spaceship img{
     filter: invert(1);
 }

 /* MAIN HOVER */
 .enemy:hover{
     display: none;
 }
.spaceship-port:hover .spaceship{
    animation-name: nav-move;
    animation-duration: 2s;
    animation-timing-function: linear;
    position: relative;
}
@keyframes nav-move {
    0% {
        right: 20%;
    }
    25% {
        top:30%;
    }
    50% {
        bottom: 20%; 
    } 
    75% {
        left: 20%;
    }
    100% {
        right: 0; 
    } 
}

 /* FOOTER */

 footer{
     margin-top: 100px;
     margin-bottom: 10px;
     color: white;
 }
 footer h2{
     margin-bottom: 10px;
     color: aqua;
 }